interactions:
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded; charset=UTF-8
      X-Application:
      - jellyash_test_testauthedclient/0.4.0
      x-emby-authorization:
      - MediaBrowser Client=jellyash_test_testauthedclient, Device=wrecked, DeviceId=2c04707d-5fce-4c46-89ad-fd705a2187d9,
        Version=0.4.0
    method: GET
    uri: https://demo.jellyfin.org/stable/system/info/public
  response:
    body:
      string: '{"LocalAddress":"http://172.17.0.2:8096/stable","ServerName":"Stable
        Demo","Version":"10.8.10","ProductName":"Jellyfin Server","OperatingSystem":"Linux","Id":"713dc3fe952b438fa70ed35e4ef0525a","StartupWizardCompleted":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-response-time-ms:
      - '2'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"username": "demo", "Pw": ""}'
    headers:
      Content-type:
      - application/json
      X-Application:
      - jellyash_test_testauthedclient/0.4.0
      x-emby-authorization:
      - MediaBrowser Client=jellyash_test_testauthedclient, Device=wrecked, DeviceId=2c04707d-5fce-4c46-89ad-fd705a2187d9,
        Version=0.4.0
    method: POST
    uri: https://demo.jellyfin.org/stable/Users/AuthenticateByName
  response:
    body:
      string: '{"User":{"Name":"demo","ServerId":"713dc3fe952b438fa70ed35e4ef0525a","Id":"a076a5bfc9034f379f5889bc6dafc77b","HasPassword":false,"HasConfiguredPassword":false,"HasConfiguredEasyPassword":true,"EnableAutoLogin":false,"LastLoginDate":"2023-06-20T10:30:27.9183696Z","LastActivityDate":"2023-06-20T10:30:27.9183696Z","Configuration":{"AudioLanguagePreference":"","PlayDefaultAudioTrack":true,"SubtitleLanguagePreference":"dut","DisplayMissingEpisodes":true,"GroupedFolders":["f137a2dd21bbc1b99aa5c0f6bf02a805","767bffe4f11c93ef34b805451a696a4e"],"SubtitleMode":"Always","DisplayCollectionsView":false,"EnableLocalPassword":true,"OrderedViews":["b6239cb8a74ff47b07bbf770d40a8e56","f137a2dd21bbc1b99aa5c0f6bf02a805","7e64e319657a9516ec78490da03edccb","767bffe4f11c93ef34b805451a696a4e","9d7ad6afe9afa2dab1a2f6e00ad28fa6"],"LatestItemsExcludes":[],"MyMediaExcludes":["9d7ad6afe9afa2dab1a2f6e00ad28fa6"],"HidePlayedInLatest":false,"RememberAudioSelections":true,"RememberSubtitleSelections":true,"EnableNextEpisodeAutoPlay":true},"Policy":{"IsAdministrator":false,"IsHidden":true,"IsDisabled":false,"BlockedTags":[],"EnableUserPreferenceAccess":true,"AccessSchedules":[],"BlockUnratedItems":[],"EnableRemoteControlOfOtherUsers":false,"EnableSharedDeviceControl":false,"EnableRemoteAccess":true,"EnableLiveTvManagement":false,"EnableLiveTvAccess":true,"EnableMediaPlayback":true,"EnableAudioPlaybackTranscoding":true,"EnableVideoPlaybackTranscoding":true,"EnablePlaybackRemuxing":true,"ForceRemoteSourceTranscoding":false,"EnableContentDeletion":false,"EnableContentDeletionFromFolders":[],"EnableContentDownloading":true,"EnableSyncTranscoding":true,"EnableMediaConversion":true,"EnabledDevices":[],"EnableAllDevices":true,"EnabledChannels":[],"EnableAllChannels":true,"EnabledFolders":[],"EnableAllFolders":true,"InvalidLoginAttemptCount":0,"LoginAttemptsBeforeLockout":-1,"MaxActiveSessions":0,"EnablePublicSharing":false,"BlockedMediaFolders":[],"BlockedChannels":[],"RemoteClientBitrateLimit":0,"AuthenticationProviderId":"Jellyfin.Server.Implementations.Users.DefaultAuthenticationProvider","PasswordResetProviderId":"Jellyfin.Server.Implementations.Users.DefaultPasswordResetProvider","SyncPlayAccess":"CreateAndJoinGroups"}},"SessionInfo":{"PlayState":{"CanSeek":false,"IsPaused":false,"IsMuted":false,"RepeatMode":"RepeatNone"},"AdditionalUsers":[],"Capabilities":{"PlayableMediaTypes":[],"SupportedCommands":[],"SupportsMediaControl":false,"SupportsContentUploading":false,"SupportsPersistentIdentifier":true,"SupportsSync":false},"RemoteEndPoint":"103.246.103.99","PlayableMediaTypes":[],"Id":"b7d79ef2a71a561bbb97e28de9ea4ae7","UserId":"a076a5bfc9034f379f5889bc6dafc77b","UserName":"demo","Client":"jellyash_test_testauthedclient","LastActivityDate":"2023-06-20T10:30:27.9496472Z","LastPlaybackCheckIn":"0001-01-01T00:00:00.0000000Z","DeviceName":"wrecked","DeviceId":"2c04707d-5fce-4c46-89ad-fd705a2187d9","ApplicationVersion":"0.4.0","IsActive":true,"SupportsMediaControl":false,"SupportsRemoteControl":false,"NowPlayingQueue":[],"NowPlayingQueueFullItems":[],"HasCustomDeviceName":false,"ServerId":"713dc3fe952b438fa70ed35e4ef0525a","SupportedCommands":[]},"AccessToken":"efb1cef07e9c42edbc4eb622bc13beff","ServerId":"713dc3fe952b438fa70ed35e4ef0525a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-response-time-ms:
      - '38'
    status:
      code: 200
      message: OK
version: 1
